@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-produce-shisha {
  & {
    margin-top: 4rem;
    padding-bottom: 10rem;
    overflow: hidden;

    @include sp {
      margin-top: 10rem;
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;
      margin-top: 2.4rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 2.8rem;
      }
    }

    &__img {
      width: 100%;
      margin-top: 6rem;

      @include sp {
        width: 39rem;
        margin-top: 4.8rem;
        margin-inline: calc(50% - 50vw);
      }
    }

    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 7.5rem;
      margin-top: 10rem;
      padding-left: 3.5rem;

      @include sp {
        display: block;
        margin-top: 3.2rem;
        padding-left: 0;
      }
    }

    &__details-img {
      width: 22.4rem;
      flex-shrink: 0;

      @include sp {
        display: none;
      }
    }

    &__details-ttl {
      color: color(org,base);
      font-size: 3.6rem;
      font-weight: $base-font-bold;
      line-height: 150%;

      @include sp {
        font-size: 2.4rem;
      }
    }

    &__details-txt {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;
      margin-top: 3.2rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 2.4rem;
      }
    }

    &__marquee {
      margin-top: 8rem;

      @include sp {
        margin-top: 4.8rem;
      }
    }

    &__table {
      display: block;
      margin-top: 8rem;

      @include sp {
        margin-top: 4.8rem;
      }
    }

    &__tbody {
      display: block;
    }

    &__tr {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6rem;
      padding: 4rem 0;
      border-top: solid 1px color(gry,base);

      @include sp {
        gap: 2rem;
        padding: 2rem 0;
      }

      &:last-of-type {
        border-bottom: solid 1px color(gry,base);
      }
    }

    &__th {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      text-align: left;
      min-width: 12rem;

      @include sp {
        font-size: 1.5rem;
        max-width: 9rem;
      }
    }

    &__td {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;

      @include sp {
        font-size: 1.5rem;
      }
    }

    &__td-link {
      color: $base-font-color;
      line-height: 200%;
      text-decoration: underline;
      text-underline-offset: .3rem;
    }
  }
}