@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-company-info {
  & {
    margin-top: 14rem;
    padding-bottom: 14rem;

    @include sp {
      margin-top: 10rem;
      padding-bottom: 10rem;
    }

    &__table {
      width: 100%;
      margin-top: 10rem;

      @include sp {
        margin-top: 4.8rem;
      }
    }

    &__tr {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8rem;
      padding: 4rem 0;
      border-top: solid 1px color(gry,base);

      @include sp {
        flex-direction: column;
        align-items: flex-start;
        gap: .8rem;
        padding: 3.2rem 0;
      }

      &:last-of-type {
        border-bottom: solid 1px color(gry,base);
      }
    }

    &__th {
      font-size: 2.4rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      text-align: left;
      min-width: 14.4rem;

      @include sp {
        font-size: 1.8rem;
        min-width: 1005;
      }
    }

    &__td {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;

      @include sp {
        font-size: 1.5rem;
      }
    }
  }
}