@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-company-join {
  & {
    margin-top: 10rem;

    &__bg {
      width: 100%;
      height: 45rem;
      background-image: url(../img/company/join/join_bg.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 6rem;
      position: relative;

      @include sp {
        height: 20rem;
        background-image: url(../img/company/join/sp/join_bg.jpg);
        padding-bottom: 1.6rem;
      }

      &::before {
        content: "";
        width: 100%;
        height: 50%;
        background: linear-gradient(
          to bottom,
          rgba(color(org,base), 0) 0%,
          rgba(color(org,base), 0.8) 100%
        );
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      .c-inner {
        height: 100%;
      }
    }

    &__wrap {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }

    &__ttl {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }

    &__ttl-en {
      color: color(wt,base);
      font-size: 8.8rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 3.5rem;
      }
    }

    &__ttl-ja {
      color: color(wt,base);
      font-size: 2.4rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__btn {
      width: 5.6rem;
      height: 5.6rem;
      border: solid 1px color(wt,base);
      border-radius: 100vmax;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sp {
        width: 4.8rem;
        height: 4.8rem;
      }
      
      &::before {
        content: "";
        display: inline-block;
        width: 2.1rem;
        height: .8rem;
        background-image: url(../img/common/arrow_wt.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}