@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-company-value {
  & {
    margin-top: 10rem;

    @include sp {
      margin-top: 4rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 1rem;
      margin-top: 6rem;

      @include sp {
        display: block;
        margin-top: 4rem;
      }
    }

    &__item {
      background-color: color(org,base);
      border-radius: 3.2rem;
      padding: 4rem 3.2rem 4.8rem;

      @include sp {
        border-radius: .4rem;
        padding: 0 1.6rem;
        height: 5.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:not(:first-of-type) {
          margin-top: .6rem;
        }
      }
    }

    &__item-num {
      color: color(wt,base);
      font-size: 2.4rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      text-align: center;
      display: block;
    }

    &__img {
      margin: 4rem auto 0;

      &--01 {
        width: 20rem;
      }

      &--02 {
        width: 23.4rem;
      }

      &--03 {
        width: 17.4rem;

        & + .p-company-value__ttl {
          margin-top: 2rem;

          @include sp {
            margin-top: 0;
          }
        }
      }
    }

    &__ttl {
      color: color(wt,base);
      font-size: 2.8rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      text-align: center;
      margin-top: 4rem;

      &::before {
        font-size: 1.8rem;
        font-weight: $base-font-bold;
        line-height: 130%;
      }

      @include sp {
        font-size: 2rem;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;
      }

      &--01 {
        &::before {
          content: "01";
        }
      }

      &--02 {
        &::before {
          content: "02";
        }
      }

      &--03 {
        &::before {
          content: "03";
        }
      }
    }

    &__txt-en {
      color: color(wt,base);
      font-size: 1.6rem;
      font-weight: $base-font-regular;
      line-height: 150%;
      text-align: center;
      margin-top: 1.6rem;
    }
  }
}