@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-production-affiliated {
  & {
    margin-top: 18rem;

    @include sp {
      margin-top: 8rem;
    }

    &__img-wrap {
      display: grid;
      grid-template-columns: repeat(6,1fr);
      gap: 4rem 1.6rem;
      margin-top: 8rem;

      @include sp {
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        margin-top: 4.8rem;
      }
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.6rem;
      margin-top: 4rem;

      @include sp {
        flex-direction: column;
        gap: .8rem;
        margin-top: 4rem;
      }
    }

    &__item {
      width: 50%;
      height: 15.4rem;
      background-color: color(org,soft);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include sp {
        width: 100%;
        height: auto;
        padding: 2.4rem 0;
      }
    }

    &__item-head {
      font-size: 1.6rem;
      font-weight: $base-font-bold;
      line-height: 150%;

      @include sp {
        font-size: 1.5rem;
      }
    }

    &__item-em {
      color: color(org,base);
      font-size: 4.8rem;
      font-style: normal;
      font-weight: $base-font-bold;
      line-height: 150%;

      @include sp {
        font-size: 4rem;
      }

      &--s {
        font-size: 4rem;

        @include sp {
          font-size: 3.2rem;
        }
      }
    }

    &__item-s-txt {
      color: $base-font-color;
      font-size: 2rem;
      margin-left: -1rem;

      @include sp {
        font-size: 1.8rem;
      }
    }
  }
}