@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-production-feature {
  & {
    margin-top: 20rem;
    padding-bottom: 10rem;

    @include sp {
      margin-top: 10rem;
      padding-bottom: 10rem;
    }

    &__inner {
      width: 123.6rem;
      padding: 0 2rem;
      margin-inline: auto;

      @include sp {
        width: 100%;
      }
    }

    &__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      @include sp {
        align-items: center;
        flex-direction: column;
        gap: 1.2rem;
      }
    }

    &__img {
      flex-shrink: 0;
      
      &--left {
        width: 34.7rem;
        margin-right: 4.2rem;

        @include sp {
          width: 100%;
          margin-right: 0;
        }
      }

      &--right {
        width: 38.7rem;
        margin-left: 1.9rem;

        @include sp {
          width: 100%;
          margin-left: 0;
        }
      }
    }

    &__txtarea {
      width: 100%;
    }

    &__ttl {
      color: color(org,base);
      font-size: 3.6rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      text-align: center;

      @include sp {
        font-size: 2.4rem;
      }
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;
      text-align: center;
      margin-top: 4.8rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 2.4rem;
      }
    }

    &__btn-wrap {
      margin-top: 8rem;

      @include sp {
        margin-top: 5.8rem;
      }
    }
  }
}