@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-production-intro {
  & {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5.75rem;
      margin-top: 18rem;

      @include sp {
        flex-direction: column;
        gap: 3.2rem;
        margin-top: 6rem;
      }
    }

    &__img {
      width: 42.1rem;
      flex-shrink: 0;

      @include sp {
        width: 30rem;
      }
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 200%;
      margin-top: 4.8rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 2.4rem;
      }
    }
  }
}