@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-production-liver {
  & {
    margin-top: 20rem;

    @include sp {
      margin-top: 10rem;
    }

    &__wrap {
      @include sp {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 3.2rem;
        margin-top: 4.8rem;
      }
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;
      margin-top: 8rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 0;
      }
    }

    &__img {
      width: 100%;
      margin-top: 10rem;

      @include sp {
        margin-top: 0;
      }
    }

    &__point {
      width: 136rem;
      margin-inline: auto;
      padding: 0 2rem;
      margin-top: 10rem;

      @include sp {
        width: 100%;
        margin-top: 8rem;
        padding: 0;
      }
    }

    &__point-list {
      background-color: color(org,base);
      border-radius: 10rem;
      padding: 10rem 8rem;

      @include sp {
        border-radius: 2rem;
        padding: 4rem 2rem;
      }
    }

    &__point-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 6rem;

      @include sp {
        flex-direction: column;
        gap: 4rem;
      }

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        @include sp {
          flex-direction: column;
        }
      }

      &:not(:first-of-type) {
        margin-top: 8rem;
      }
    }

    &__point-img {
      width: 48rem;
      flex-shrink: 0;

      @include sp {
        width: 100%;
      }

      img {
        border-radius: 1rem;
      }
    }

    &__point-txtarea {
      margin-top: 2.2rem;

      @include sp {
        margin-top: 0;
      }
    }

    &__point-ttl {
      color: color(wt,base);
      font-size: 2.8rem;
      font-weight: $base-font-bold;
      line-height: 200%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: .8rem;

      @include sp {
        font-size: 2.4rem;
        line-height: 150%;
      }
    }

    &__point-num {
      font-size: 1.6rem;
      line-height: 150%;
    }

    &__point-txt {
      color: color(wt,base);
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;
      margin-top: 3.2rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 2.4rem;
      }
    }
  }
}