@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-works-archive {
  & {
    margin-top: 12rem;
    padding-bottom: 14rem;

    @include sp {
      margin-top: 6rem;
      padding-bottom: 10rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 8rem 4rem;

      @include sp {
        grid-template-columns: repeat(1,1fr);
        gap: 4rem;
      }
    }

    &__link {
      &:hover {
        opacity: 1;

        img {
          transform: scale(1.1);
        }
      }
    }

    &__thumb {
      width: 36rem;
      border-radius: 1rem;
      aspect-ratio: 360 / 210;
      overflow: hidden;

      @include sp {
        width: 100%;
        aspect-ratio: 173 / 101;
      }

      img {
        border-radius: 1rem;
        object-fit: cover;
        transition: transform .5s;
      }
    }

    &__time {
      color: color(org,base);
      font-size: 1.4rem;
      font-weight: $base-font-black;
      line-height: 150%;
      display: block;
      margin-top: 2rem;

      @include sp {
        font-size: 1.2rem;
      }
    }

    &__ttl {
      color: $base-font-color;
      font-size: 1.8rem;
      font-weight: $base-font-black;
      line-height: 150%;
      margin-top: .8rem;
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__note {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 100%;
      margin-top: 4rem;

      @include sp {
        font-size: 1.2rem;
      }
    }
  }
}