@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

/* @keyframes animation
---------------------------------------- */
@keyframes marquee {
  100% {
    translate: -50% 0;
  }
}

.js-nav {
  & {
    transition: right .5s;

    &.is-active {
      right: 0;
    }
  }
}

.js-nav-btn {
  &.is-active {
    .p-top-header__hamburger-line {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);

      &:nth-of-type(1) {
        transform: rotate(155deg);
      }

      &:nth-of-type(2) {
        width: 2.6rem;
        transform: rotate(-155deg);
      }
    }
  }
}