@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

/* @keyframes animation
---------------------------------------- */
@keyframes marquee {
  100% {
    translate: -50% 0;
  }
}