@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-btn {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include sp {
      gap: 1.6rem;
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 1.6rem;
      }

      &--wt {
        color: color(wt,base);
      }

      &--bk {
        color: $base-font-color;
      }
      
      &--org {
        color: color(org,base);
      }
    }

    &__obj {
      display: inline-block;
      width: 5.6rem;
      height: 5.6rem;
      border: solid 1px;
      border-radius: 100vmax;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sp {
        width: 4.8rem;
        height: 4.8rem;
      }

      &--wt {
        border-color: color(wt,base);
      }

      &--bk {
        border-color: $base-font-color;
      }

      &--org {
        border-color: color(org,base);
      }

      svg {
        width: 1.9rem;
        height: .6rem;
      }
    }
  }
}

.c-line-btn {
  color: color(wt,base);
  font-size: 2rem;
  font-weight: $base-font-bold;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40rem;
  height: 7.6rem;
  background-color: color(grn,base);
  border-radius: .8rem;
  box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, 0.25);

  @include sp {
    font-size: 1.8rem;
    width: 100%;
    height: 6.4rem;

  }

  &::before {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-image: url(../img/common/logo-line.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include sp {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
}