@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-contact-sec {
  & {
    background-color: color(org,base);
    padding: 15rem 0;

    @include sp {
      padding: 8rem 0;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__btn {
      display: inline-block;
      width: 20rem;
      height: 20rem;
      background-color: color(org,light);
      border-radius: 100vmax;
      position: relative;
      z-index: 2;

      @include sp {
        width: 8rem;
        height: 8rem;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 16rem;
        height: 16rem;
        background-color: color(wt,base);
        border-radius: 100vmax;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        z-index: -1;

        @include sp {
          width: 6rem;
          height: 6rem;
        }
      }

      &::after {
        content: "";
        width: 5.7rem;
        height: 1.7rem;
        background-image: url(../img/common/arrow_contact.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        @include sp {
          width: 2.6rem;
          height: .8rem;
        }
      }
    }
  }
}