@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-inner {
  & {
    width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;

    @include sp {
      width: 100%;
    }
  }
}