@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.c-under-ttl {
  & {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 8rem;

    @include sp {
      margin-top: 4rem;
    }

    &__sub {
      color: color(org,base);
      font-size: 2.4rem;
      font-weight: $base-font-bold;
      line-height: 150%;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__lead {
      font-size: 8.8rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 3.4rem;
        line-height: 150%;
      }
    }
  }
}