@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-contact-form {
  & {
    margin-top: 8rem;
    padding-bottom: 14rem;

    @include sp {
      margin-top: 6rem;
      padding-bottom: 10rem;
    }

    &__inner {
      width: 84rem;
      margin: 0 auto;
      padding: 0 2rem;

      @include sp {
        width: 100%;
      }
    }

    &__form-blk {
      & + & {
        margin-top: 4rem;

        @include sp {
          margin-top: 2.4rem;
        }
      }
    }

    &__label {
      font-size: 2rem;
      font-weight: $base-font-medium;
      line-height: 200%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.5rem;

      @include sp {
        font-size: 1.6rem;
        gap: 1rem;
      }
    }

    &__required {
      color: color(wt,base);
      font-size: 1.6rem;
      font-weight: $base-font-medium;
      line-height: 150%;
      background-color: color(org,base);
      border-radius: 100vmax;
      padding: .5rem 2rem;

      @include sp {
        font-size: 1.2rem;
        padding: .4rem 1rem;
      }
    }

    &__input-area {
      margin-top: 1.6rem;

      @include sp {
        margin-top: 1rem;
      }
    }

    &__select-wrap {
      position: relative;

      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        cursor: pointer;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 1.8rem;
        height: 1.1rem;
        background-image: url(../img/common/icon_select.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 2.4rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

        @include sp {
          width: 1.5em;
          height: .9rem;
          right: 1.8rem;
        }
      }
    }

    &__default {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 150%;
      display: block;
      width: 100%;
      border: solid 1px color(gry,base);
      border-radius: .6rem;
      padding: 1.5rem 2rem;
      box-sizing: border-box;

      @include sp {
        font-size: 1.5rem;
        padding: 1.6rem;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8rem;

      @include sp {
        margin-top: 4rem;
      }
    }

    &__btn-input {
      color: color(wt,base);
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 130%;
      width: 22rem;
      height: 7.4rem;
      background-color: color(org,base);
      border: unset;
      border-radius: 100vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: .2rem .2rem .6rem 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: opacity .5s;

      @include sp {
        font-size: 1.6rem;
        width: 26rem;
        height: 5.3rem;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}