@use "global/variables" as *;
@use "global/mixins" as *;
@use "global/color" as *;

.l-header {
  & {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    @include sp {
      background-color: $base-bg-color;
    }

    &__inner {
      padding: 0 4rem 0 6rem;

      @include sp {
        padding: 2rem 2rem 2rem 1rem;
      }
    }

    &__wrap {
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include sp {
        height: auto;
        align-items: flex-start;
      }
    }

    &__logo {
      position: relative;
      z-index: 9999;
    }

    &__logo-link {
      display: inline-block;
      width: 22rem;

      @include sp {
        width: 20rem;
      }
    }

    &__logo-img {
      width: 100%;
    }

    &__hamburger {
      width: 9.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 9999;
      cursor: pointer;

      @include sp {
        width: 3rem;
        flex-direction: column-reverse;
        gap: .8rem;
      } 
    }

    &__hamburger-txt {
      font-size: 1.4rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 1rem;
      }
    }

    &__line-wrap {
      width: 3rem;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 1rem;
      position: relative;

      @include sp {
        height: 1.2rem;
      }
    }

    &__hamburger-line {
      display: inline-block;
      width: 3rem;
      height: 1px;
      background-color: $base-font-color;
      transition: transform .5s;

      @include sp {
        width: 2.6rem;
      }

      &:last-of-type {
        width: 2rem;

        @include sp {
          width: 1.6rem;
        }
      }
    }

    &__nav {
      width: 100vw;
      height: 100dvh;
      background-color: $base-bg-color;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top: 12rem;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 8888;

      @include sp {
        padding: 12rem 2rem 2rem;
      }
    }

    &__list {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 8rem 4rem;

      @include sp {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(1,1fr);
        gap: 3.2rem;
        overflow-y: auto;
      }
    }

    &__link {
      color: $base-font-color;
      font-size: 5.6rem;
      font-weight: $base-font-bold;
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;

      @include sp {
        font-size: 2.4rem;
        line-height: 130%;
        display: flex;
        gap: .8rem;
      }
    }

    &__item-num {
      color: color(org,base);
      font-size: 2rem;
      margin-top: .4rem;

      @include sp {
        font-size: 1.4rem;
        line-height: 100%;
        margin-top: .6rem;
      }
    }
  }
}