@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-fv {
  & {
    width: 100%;
    height: 60rem;

    @include sp {
      height: 57.8rem;
    }

    &__video {
      width: 100%;
      height: 100%;
    }
  }
}