@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-header {
  & {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;

    @include sp {
      background-color: $base-bg-color;
      transition: top .5s;
      position: fixed;
      top: -8.1rem;
      left: 0;
    }

    &__inner {
      padding: 4.8rem 6rem 9.2rem;

      @include sp {
        padding: 2rem 2rem 2rem 1rem;
      }
    }

    &__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__logo {
      @include sp {
        position: relative;
        z-index: 9999;
      }
    }

    &__logo-link {
      display: inline-block;
      width: 36.8rem;

      @include sp {
        width: 20rem;
      }
    }

    &__logo-img {
      width: 100%;
    }

    &__nav {
      @include sp {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        padding: 12rem 2rem 2rem;
        background-color: $base-bg-color;
        position: absolute;
        top: 0;
        right: -100%;
      }
    }

    &__list {
      width: 41.7rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5.8rem;

      @include sp {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 3.2rem;
        overflow-y: auto;
      }
    }

    &__item {
      &--contact {
        @include sp {
          padding-left: 2.4rem;
        }
      }
    }

    &__item-num {
      color: color(org,base);
      font-size: 1.2rem;
      font-weight: $base-font-medium;
      line-height: 100%;
      margin-top: .3rem;

      @include sp {
        font-size: 1.4rem;
        margin-top: .6rem;
      }
    }

    &__link {
      color: $base-font-color;
      font-size: 1.8rem;
      font-weight: $base-font-bold;
      line-height: 130%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: .8rem;

      @include sp {
        font-size: 2.4rem;
      }
    }

    &__column-list {
      .p-top-header__item {
        &:not(:first-of-type) {
          margin-top: 1.2rem;

          @include sp {
            margin-top: 3.2rem;
          }
        }
      }
    }

    &__hamburger {
      @include sp {
        width: 3rem;
        height: 3.2rem;
        position: relative;
        z-index: 9999;
      }
    }

    &__line-wrap {
      @include sp {
        height: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        gap: 1rem;
        position: relative;
      }
    }

    &__hamburger-line {
      display: inline-block;
      background-color: $base-font-color;
      transition: transform .5s;

      @include sp {
        width: 2.6rem;
        height: 1px;

        &:last-of-type {
          width: 1.6rem;
        }
      }
    }

    &__hamburger-txt {
      font-size: 1rem;
      font-weight: $base-font-bold;
      line-height: 130%;
      display: inline-block;
      margin-top: .8rem;
    }

    &.is-fixed {
      top: 0;
    }
  }
}