@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-recruit {
  & {
    &__link {
      display: block;
      width: 100%;
      height: 81rem;
      overflow: hidden;

      @include sp {
        height: 22rem;
      }

      &:hover {
        opacity: 1;
        
        .p-top-recruit__img {
          transform: scale(1.1);
        }
      }
    }

    &__img {
      transition: transform .5s;
    }
  }
}