@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-top-works {
  & {
    padding: 10rem 0;

    @include sp {
      padding: 8rem 0;
    }

    &__list {
      margin-top: 8rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2rem 4rem;
      position: relative;

      @include sp {
        margin-top: 5.6rem;
        grid-template-columns: repeat(2,1fr);
        gap: .4rem;
      }

      &::before {
        content: "";
        width: 144rem;
        height: 74.3rem;
        background-image: url(../img/top/works/sec_obj.svg);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .3;
        position: absolute;
        top: -4rem;
        left: -14rem;
        z-index: -1;

        @include sp {
          width: 39rem;
          height: 60.4rem;
          background-image: url(../img/top/works/sp/sec_obj.svg);
          top: -13.2rem;
          left: -2rem;
        }
      }
    }

    &__item {
      width: 36rem;

      @include sp {
        width: 17.3rem;
      }
    }

    &__img {
      width: 100%;

      img {
        border-radius: 1rem;

        @include sp {
          border-radius: .4rem;
        }
      }
    }
  }
}