@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-marketing-bg {
  & {
    width: 100%;
    height: 50rem;
    background-image: url(../img/marketing/bg/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 14rem;

    @include sp {
      height: 20rem;
      background-image: url(../img/marketing/bg/sp/bg.jpg);
      margin-top: 10rem;
    }
  }
}