@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-marketing-collabo {
  & {
    padding: 10rem 0;

    &__ttl-s {
      font-size: 2.4rem;

      @include sp {
        font-size: 1.4rem;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 6rem 4rem;
      margin-top: 8rem;

      @include sp {
        grid-template-columns: repeat(2,1fr);
        gap: 2.6rem .4rem;
        margin-top: 4.8rem;
      }
    }

    &__item {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
      gap: 0;
    }

    &__item-ttl {
      font-size: 1.8rem;
      font-weight: $base-font-medium;
      line-height: 150%;
      text-align: center;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__img {
      width: 100%;
      margin-top: 1.6rem;

      img {
        border-radius: 1rem;

        @include sp {
          border-radius: .4rem;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.4rem;

      @include sp {
        margin-top: 1.2rem;
      }
    }

    &__btn-link {
      color: color(wt,base);
      font-size: 1.6rem;
      font-weight: $base-font-bold;
      line-height: 130%;
      background-color: color(org,base);
      border-radius: 100vmax;
      padding: 1.4rem 2.2rem 1.4rem 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.4rem;

      @include sp {
        font-size: 1.5rem;
        padding: 1rem 2rem 1.2rem;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 2.1rem;
        height: .6rem;
        background-image: url(../img/common/arrow_wt.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}