@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-marketing-intro {
  & {
    &__top {
      margin-top: 8rem;

      @include sp {
        margin-top: 4rem;
      }
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 200%;

      @include sp {
        font-size: 1.5rem;
      }
    }

    &__inner {
      width: 136rem;
      padding: 0 2rem;
      margin: 0 auto;

      @include sp {
        width: 100%;
        overflow: auto;
      }
    }

    &__wrap {
      margin-top: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include sp {
        width: max-content;
        margin-top: 4.8rem;
        gap: 2rem;
      }
    }

    &__img {
      width: 41rem;

      @include sp {
        width: 22rem;
        flex-shrink: 0;
      }

      img {
        border-radius: 1rem;

        @include sp {
          border-radius: .4rem;
        }
      }
    }

    &__bottom {
      padding: 12rem 2.2rem 10rem 4rem;

      @include sp {
        padding: 6rem 0 10rem;
      }
    }

    &__bottom-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include sp {
        display: block;
      }
    }

    &__bottom-img {
      width: 54rem;

      @include sp {
        width: 31.4rem;
        margin-inline: auto;
      }
    }

    &__bottom-txtblk {
      width: 65.8rem;

      @include sp {
        width: 100%;
        margin-top: 4rem;
      }
    }

    &__bottom-ttl {
      @include sp {
        align-items: center;
      }
    }

    &__bottom-ttl {
      @include sp {
        text-align: center;
      }
    }

    &__bottom-txt {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 200%;
      margin-top: 4.8rem;

      @include sp {
        font-size: 1.5rem;
        margin-top: 3.2rem;
      }
    }
  }
}