@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-marketing-movie {
  & {
    margin-top: 2rem;

    @include sp {
      margin-top: 0;
    }

    &__list {
      margin-top: 8rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2rem 4rem;

      @include sp {
        margin-top: 4.8rem;
        grid-template-columns: repeat(2,1fr);
        gap: .4rem;
      }
    }

    &__item,
    &__img {
      width: 100%;

      img {
        border-radius: 1rem;

        @include sp {
          border-radius: .4rem;
        }
      }
    }
  }
}