@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-marketing-strengths {
  & {
    &__bg {
      width: 100%;
      height: 86.5rem;
      background-image: url(../img/marketing/strengths/bg.jpg);
      background-repeat: no-repeat;
      background-size: contain;

      @include sp {
        height: 46.8rem;
        background-image: url(../img/marketing/strengths/sp/bg.jpg);
        padding: 6rem 0 4.6rem;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba($color: color(bk,base), $alpha: .7);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    &__txtblk {
      width: 75.3rem;
      margin-inline: auto 0;
      padding-top: 9rem;

      @include sp {
        width: 100%;
        padding-top: unset;
        position: relative;
        z-index: 2;
      }
    }

    &__ttl-en {
      @include sp {
        color: color(wt,base);
      }
    }

    &__txt {
      font-size: 2rem;
      font-weight: $base-font-bold;
      line-height: 200%;
      margin-top: 4.8rem;

      @include sp {
        color: color(wt,base);
        font-size: 1.5rem;
      }
    }
  }
}