@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-creators-cont {
  & {
    margin-top: 12rem;
    padding-bottom: 14rem;

    @include sp {
      margin-top: 6rem;
      padding-bottom: 10rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 8.8rem 4rem;

      @include sp {
        grid-template-columns: repeat(2,1fr);
        gap: 4rem .4rem;
      }
    }

    &__thumb {
      width: 100%;
      aspect-ratio: 360 / 360;

      img {
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    &__sns-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.6rem;
      margin-top: 2rem;

      @include sp {
        gap: .4rem;
        margin-top: 1.6rem;
      }
    }

    &__sns-link {
      display: inline-block;
      width: 4.8rem;
      height: 4.8rem;

      @include sp {
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &__sns-icon {
      width: 100%;
    }

    &__name {
      font-size: 2rem;
      font-weight: $base-font-medium;
      line-height: 150%;
      margin-top: 2rem;

      @include sp {
        font-size: 1.4rem;
        margin-top: 1.6rem;
      }
    }
  }
}