@use "sass:map";

// デフォルトの色
$base-font-color: #453E3E;
$base-bg-color: #FFF;

// パレットの定義
$color-palette: (
  wt : (
    base : #FFF,
  ),
  bk : (
    base : #000,
  ),
  org: (
    base : #FC6847,
    light : #FFAC9A,
    soft : #FFE3DD,
  ),
  grn : (
    base : #02C755,
  ),
  gry: (
    base : #D9D9D9,
  ),
) !default;

// color(色系統, トーン)
@function color($color, $tone:base) {
  @return map.get(map.get($color-palette, $color), $tone);
}