@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-news-details {
  & {
    margin-top: 10rem;
    padding-bottom: 14rem;

    @include sp {
      margin-top: 6rem;
      padding-bottom: 10rem;
    }

    &__inner {
      width: 104rem;
      margin: 0 auto;
      padding: 0 2rem;

      @include sp {
        width: 100%;
      }
    }

    &__time {
      color: color(org,base);
      font-size: 1.4rem;
      font-weight: $base-font-black;
      line-height: 150%;

      @include sp {
        font-size: 1.2rem;
      }
    }

    &__ttl {
      font-size: 3.6rem;
      font-weight: $base-font-black;
      line-height: 150%;
      margin-top: .8rem;

      @include sp {
        font-size: 1.6rem;
      }
    }

    &__thumb {
      width: 100%;
      aspect-ratio: 1000 / 523;
      margin-top: 6rem;

      @include sp {
        aspect-ratio: 350 / 183;
        margin-top: 2rem;
      }

      img {
        object-fit: cover;
        border-radius: 1rem;

        @include sp {
          border-radius: 3rem;
        }
      }
    }

    &__cont {
      width: 80rem;
      margin: 10rem auto 0;

      @include sp {
        width: 100%;
        margin: 6rem auto 0;
      }
      
      & + * {
        margin-top: 0;
      }

      p {
        font-size: 2rem;
        font-weight: $base-font-regular;
        line-height: 200%;
        margin: 6rem 0;

        @include sp {
          font-size: 1.5rem;
          margin: 4rem 0;
        }
      }

      h2,
      h3 {
        font-size: 2.8rem;
        font-weight: $base-font-medium;
        line-height: 200%;

        @include sp {
          font-size: 2rem;
        }
      }

      h4 {
        font-size: 2.4rem;
        font-weight: $base-font-medium;
        line-height: 200%;

        @include sp {
          font-size: 1.8rem;
        }
      }

      img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 6rem auto;

        @include sp {
          margin: 4rem auto;
        }
      }

      ol,
      ul,
      blockquote {
        margin: 1em 0;
      }

      a {
        font-size: 2rem;
        line-height: 200%;
        text-decoration: underline;
        text-underline-offset: .2rem;

        @include sp {
          font-size: 1.5rem;
        }
      }

      ol,
      ul {
        margin: 4rem auto;
        padding-left: 2em;

        @include sp {
          margin: 2.4rem auto;
        }
      }

      ol li {
        font-size: 2rem;
        line-height: 200%;
        list-style: decimal;

        @include sp {
          font-size: 1.5rem;
        }
      }

      ul li {
        font-size: 2rem;
        line-height: 200%;
        list-style-type: disc;

        @include sp {
          font-size: 1.5rem;
        }
      }

      blockquote {
        font-size: 2rem;
        line-height: 200%;
        padding-left: 1em;
        border-left: solid 2px color(gry,base);

        @include sp {
          font-size: 1.5rem;
        }
      }

      em {
        font-size: 2rem;
        line-height: 200%;
        font-style: italic;

        @include sp {
          font-size: 1.5rem;
        }
      }

      strong {
        font-size: 2rem;
        line-height: 200%;
        font-weight: 700;

        @include sp {
          font-size: 1.5rem;
        }
      }
    }

    &__btn {
      margin-top: 14rem;

      @include sp {
        margin-top: 4.8rem;
      }

      svg {
        transform: scale(-1,1);
      }
    }
  }
}