// ===================================
// Foundation
// ===================================
@use "foundation/base" as *;
@use "foundation/reset" as *;
@use "foundation/animation" as *;

// ===================================
// Layout
// ===================================
@use "layout/header" as *;
@use "layout/footer" as *;
@use "layout/main" as *;
@use "layout/under-page" as *;

// ===================================
// Component
// ===================================
@use "object/component/inner" as *;
@use "object/component/top-secttl" as *;
@use "object/component/contact-sec" as *;
@use "object/component/btn" as *;
@use "object/component/under-ttl" as *;
@use "object/component/service-mv" as *;
@use "object/component/sec-ttl" as *;
@use "object/component/marquee" as *;

// ===================================
// Project
// ===================================
// トップページ
@use "object/project/top/fv" as *;
@use "object/project/top/header" as *;
@use "object/project/top/about" as *;
@use "object/project/top/news" as *;
@use "object/project/top/business" as *;
@use "object/project/top/creator" as *;
@use "object/project/top/works" as *;
@use "object/project/top/recruit" as *;
@use "object/project/top/company" as *;
@use "object/project/top/client" as *;

// マーケティング
@use "object/project/marketing/intro" as *;
@use "object/project/marketing/strengths" as *;
@use "object/project/marketing/collabo" as *;
@use "object/project/marketing/p2c" as *;
@use "object/project/marketing/movie" as *;
@use "object/project/marketing/bg" as *;
@use "object/project/marketing/support" as *;

// プロデュース
@use "object/project/produce/intro" as *;
@use "object/project/produce/strengths" as *;
@use "object/project/produce/event" as *;
@use "object/project/produce/fes" as *;
@use "object/project/produce/portfolio" as *;
@use "object/project/produce/results" as *;
@use "object/project/produce/development" as *;
@use "object/project/produce/shisha" as *;

// ===================================
// Utility
// ===================================
@use "object/utility/fc" as *;
@use "object/utility/fw" as *;

// ===================================
// State
// ===================================
@use "state/is" as *;

// ===================================
// vendor
// ===================================
@use "vendor/swiper" as *;
@use "vendor/slick" as *;