@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-member-details {
  & {
    margin-top: 5.6rem;
    padding-bottom: 10rem;

    @include sp {
      margin-top: 6rem;
    }

    &__profile {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include sp {
        flex-direction: column;
        gap: 2.4rem;
      }
    }

    &__profile-img {
      width: 50rem;
      // aspect-ratio: 500 / 500;
      flex-shrink: 0;

      @include sp {
        width: 100%;
      }

      img {
        object-fit: cover;
      }

      & + & {
        margin-top: 2.4rem;
      }
    }

    &__profile-texarea {
      width: 58rem;

      @include sp {
        width: 100%;
      }
    }

    &__profile-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__profile-name-blk {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__profile-name-ja {
      font-size: 4.8rem;
      font-weight: $base-font-bold;
      line-height: 150%;

      @include sp {
        font-size: 3.2rem;
      }
    }

    &__profile-name-en {
      color: color(gry,soft);
      font-size: 1.8rem;
      font-weight: $base-font-black;
      margin-top: .4rem;

      @include sp {
        font-size: 1.8rem;
        margin-top: .7rem;
      }
    }

    &__profile-name-role {
      color: color(org,base);
      font-size: 1.8rem;
      font-weight: $base-font-black;
      line-height: 150%;
      margin-top: 2rem;

      @include sp {
        font-size: 1.4rem;
      }
    }

    &__profile-sns-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1.6rem;
      margin-top: 1.2rem;

      @include sp {
        gap: .4rem;
        margin-top: .8rem;
      }
    }

    &__profile-sns-icon {
      width: 4.8rem;

      @include sp {
        width: 3.2rem;
      }
    }

    &__profile-feature {
      margin-top: 5.6rem;

      @include sp {
        margin-top: 4.8rem;
      }
    }

    &__profile-feature-ttl {
      font-size: 2.4rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 2.2rem;
      }
    }

    &__profile-feature-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1.6rem;
      margin-top: 1.6rem;

      @include sp {
        gap: 1.2rem;
      }
    }

    &__profile-feature-item {
      color: color(org,base);
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 150%;
      border: solid 1px color(org,base);
      border-radius: .4rem;
      padding: .8rem 2.2rem;

      @include sp {
        font-size: 1.5rem;
        padding: .8rem 1.6rem;
      }
    }

    &__profile-motto {
      margin-top: 6rem;

      @include sp {
        margin-top: 4rem;
      }
    }

    &__profile-motto-ttl {
      font-size: 2.4rem;
      font-weight: $base-font-bold;
      line-height: 130%;

      @include sp {
        font-size: 2.2rem;
      }
    }

    &__profile-motto-txt {
      font-size: 2rem;
      font-weight: $base-font-regular;
      line-height: 200%;
      margin-top: 1.6rem;

      @include sp {
        font-size: 1.5rem;
      }
    }

    &__profile-graph {
      width: 100%;
      margin-top: 6rem;

      & + .p-member-details__profile-img {
        margin-top: 4rem;
      }
    }
  }
}