@use "./global/variables" as *;
@use "./global/mixins" as *;
@use "./global/color" as *;

.p-member-details {
  & {
    margin-top: 12rem;
    padding-bottom: 10rem;

    @include sp {
      margin-top: 6rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 4rem;

      @include sp {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem .4rem;
      }
    }

    &__link {
      &:hover {
        opacity: 1;
      }
    }

    &__img {
      width: 100%;
      aspect-ratio: 360 / 360;

      img {
        object-fit: cover;
      }
    }

    &__name {
      color: $base-font-color;
      font-size: 3.6rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      display: block;
      margin-top: 2rem;

      @include sp {
        font-size: 1.6rem;
        margin-top: 1rem;
      }
    }

    &__role {
      color: color(gry,dark);
      font-size: 1.8rem;
      font-weight: $base-font-bold;
      line-height: 150%;
      margin-top: .4rem;

      @include sp {
        font-size: 1rem;
      }
    }
  }
}